{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/booking/booking.css') }}">
{% endblock %}

{% block javascript %}
    <script src="{{ asset('build/js/booking.js') }}"></script>
{% endblock %}

{% block title %}Réserver{% endblock %}

{% block body %}
<h1>Réserver un service</h1>
    {{ form_start(form)}}

        <div>
            {{ form_label(form.date, 'Date de réservation') }}
            {{ form_widget(form.date) }}
            {{ form_errors(form.date) }}
        </div>

        <div>
            {{ form_label(form.time, 'Heure de réservation') }}
            {{ form_widget(form.time) }}
            {% if form.time.vars.errors|length > 0 %}
                <div class="form-error">{{ form.time.vars.errors[0].message }}</div>
            {% endif %}
        </div>

        <div>
            {{ form_label(form.service, 'Type de service') }}
            {{ form_widget(form.service) }}
            {{ form_errors(form.service) }}
        </div>

        <button type="submit">Réserver</button>

    {{ form_end(form) }}
{% endblock %}