{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/booking/booking.css') }}">
{% endblock %}

{% block title %}Réserver{% endblock %}

{% block body %}
<h1>Réserver un service</h1>
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        <div class="form-group mb-3">
            {{ form_label(form.date, 'Date de réservation', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.date) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.time, 'Heure de réservation', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.time, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.time) }}
        </div>

        <div class="form-group mb-3">
            {{ form_label(form.service, 'Type de service', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.service, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.service) }}
        </div>

        <button type="submit" class="btn btn-primary">Réserver</button>

    {{ form_end(form) }}
{% endblock %}
